@import '../../../assets/scss/variables.scss';

:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: #333333;
  color: white;
  font-weight: 600;
  width: 100%;

  .header {
    display: table;
    padding: 1rem;
  }
  
  .title {
    display: table-cell;
    vertical-align: middle;
  }
  
}
